#!/usr/bin/env python3

import os

fs_file='/var/lib/vz/dump/'
d = os.listdir(fs_file)
d.sort()
x ={}
for z in d:
    if not "log" in z:
        y = z.split("-")
        d_name = y[0]+"-"+y[1]+"-"+y[2]
        if not d_name in x:
            x.update({d_name:[]})
        x[d_name].append(z)
for z in x:
    y = len(x[z])
    if y != 1:
        y -=1
        for i in range(y):
            os.remove(fs_file + x[z][i])
            print("rm " + x[z][i])

